@media (min-width: 768px) {
  #nav-links {
    width: 50%;
    justify-content: center;
  }

  #nav-links:last-child {
    justify-content: end;
  }

  .navbar {
    justify-content: center;
  }

  .navbar:first-child {
    justify-content: start;
  }
}
