@media (min-width: 768px) {
  #nav-links {
    width: 50%;
    justify-content: space-between;
  }

  #spotlight {
    flex-direction: row;
  }

  #catalog {
    grid-template-columns: 1fr 1fr;
  }
}
